.careers-row-1 {
  display: flex;
  padding: 112px 64px;
  flex-direction: column;
  align-items: center;
  background: var(--amalgam, linear-gradient(90deg, #16d6ad 0%, #5512d3 100%));
}

.careers-row-1 h1 {
  color: var(--Border-alternate, #fff);
  text-align: center;

  /* Heading/Desktop/H1 */
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  /* 67.2px */
  margin-bottom: 24px;
}

.careers-row-1 p {
  color: var(--Border-alternate, #fff);
  text-align: center;

  /* Text/Medium/Normal */
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 27px */
  margin-top: 0;
}

.careers-row-2 {
  display: flex;
  padding: 112px 64px;
  flex-direction: column;
  align-items: flex-start;
  gap: 80px;
}

.careers-row-2-header {
  color: var(--Text-primary, #000);

  /* Heading/Desktop/H2 */
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  /* 57.6px */
}

.careers-row-2-header h2 {
  color: var(--Text-primary, #000);

  /* Heading/Desktop/H2 */
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  /* 57.6px */
}

.careers-row-2-content {
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

.accordion-header.collapsed {
  background: #ccc;
}

.accordion-button:focus {
  box-shadow: none !important;
  /* Removes the focus box-shadow */
}

.accordion-button {
  background-color: transparent !important;
  /* Removes the background color */
  color: #000 !important;
  /* Sets the text color */
  border: none !important;
  /* Removes border (optional) */

  /* Heading/Desktop/H4 */
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  /* 41.6px */
}

.careers-row-2-content :nth-child(1) {
  color: var(--Text-primary, #000);
  /* Heading/Desktop/H5 */
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  /* 33.6px */
}

.careers-row-2-content :nth-child(2) {
  color: var(--Text-primary, #000);

  /* Text/Medium/Normal */
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 27px */
}

.careers-row-2-content :nth-child(3) {
  color: var(--Text-primary, #000);
  width: 768px;
  /* Text/Regular/Normal */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 24px */
}

.careers-row-2-divider {
  border-top: 1px solid #000;
  width: 100%;
}

.careers-row-2-dropdown {
  display: flex;
  padding: 20px 0px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  justify-content: space-between;
}

.careers-row-2-dropdown h1 {
  margin-bottom: 0;
  margin-top: 0;
  color: var(--Text-primary, #000);

  /* Heading/Desktop/H4 */
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  /* 41.6px */
}

.careers-row-2-dropdown img {
  width: 32px;
  height: 32px;
}

.careers-row-2-dropdown button {
  border: none;
  background-color: white;
}

.careers-row-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 80px;
  position: relative;
}

.careers-dots {
  position: absolute;
  width: 448px;
  height: 482px;
  bottom: 0;
  left: -10%;
}

.careers-row-3-content {
  display: grid;
  padding: 112px 64px;
  grid-template-columns: 1fr 1fr;
  /* 2 equal columns */
  grid-template-rows: 1fr 1fr;
  align-items: center;
  width: 100%;
  gap: 80px;
  align-self: stretch;
}

.careers-row-3-bottom {
  border: 2px solid black;
  width: 100%;
}

.careers-row-3 h1 {
  color: var(--Text-primary, #000);
  width: 50%;
  text-align: center;

  /* Heading/Desktop/H2 */
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  /* 57.6px */
}

.careers-row-3-right-content {
  display: flex;
  padding: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  border: 1px solid var(--Border-primary, #000);
  margin-bottom: 32px;
}

.careers-row-3-right-content img {
  width: 48px;
  height: 48px;
}

.careers-row-3-right-content h3 {
  color: var(--Text-primary, #000);

  /* Heading/Desktop/H5 */
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;

  line-height: 140%;
  /* 33.6px */
}


.careers-row-3-content> :nth-child(1) {
  background: linear-gradient(#c5ebe5, #c5e2e8);
}

.careers-row-3-content> :nth-child(2) {
  background: linear-gradient(#c5e1e8, #c3d6e8);
}

.careers-row-3-content> :nth-child(3) {
  background: linear-gradient(#c3d3e8, #c3c9eb);
}

.careers-row-3-content> :nth-child(4) {
  background: linear-gradient(#c5c3eb, #c5b9ed);
}

.careers-row-3-right-content p {
  color: var(--Text-primary, #000);

  /* Text/Regular/Normal */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
  width: 60%;
  /* 24px */
}

#careers-logo {
  width: 150px;
}

@media (max-width: 560px) {
  .careers-row-1 {
    display: flex;
    padding: 64px 20px;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    background: white;
  }

  .careers-row-1 h1 {
    color: black;
    text-align: center;

    /* Heading/Desktop/H1 */
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 67.2px */
    margin-bottom: unset;
  }

  .careers-row-1 p {
    color: var(--Text-primary, #000);
    text-align: center;

    /* Text/Regular/Normal */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
  }

  .careers-row-2 {
    display: flex;
    padding: 64px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
  }

  .careers-row-2-header {}

  .careers-row-2-header h2 {
    color: var(--Text-primary, #000);

    /* Heading/Mobile/H2 */
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 43.2px */
  }

  .careers-row-2-content {
    display: flex;
    flex-direction: column;
    align-self: stretch;
  }

  .accordion-header.collapsed {
    background: #ccc;
  }

  .accordion-button:focus {
    box-shadow: none !important;
    /* Removes the focus box-shadow */
  }

  .accordion-button {
    background-color: transparent !important;
    /* Removes the background color */
    color: #000 !important;
    /* Sets the text color */
    border: none !important;
    /* Removes border (optional) */

    /* Heading/Desktop/H4 */
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    /* 41.6px */
  }

  .careers-row-3 {
    display: flex;
    padding: 64px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
  }

  .careers-dots {
    position: absolute;
    width: 448px;
    height: 482px;
    bottom: 0;
    left: -10%;
    display: none;
  }

  .careers-row-3-content {
    display: flex;
    align-items: flex-start;
    padding: 0px 0px;
    gap: 80px;
    align-self: stretch;
    flex-direction: column;
  }

  .careers-row-3-right {
    width: 100%;
  }

  .careers-row-3 h1 {
    width: 100%;

    color: var(--Text-primary, #000);

    /* Heading/Mobile/H2 */
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 43.2px */
  }

  .careers-row-3-right-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    border: 1px solid var(--Border-primary, #000);
    width: 100%;
    margin-bottom: 32px;
  }

  .careers-row-3-right-content img {
    width: 48px;
    height: 48px;
  }

  .careers-row-3-right-content h3 {
    color: var(--Text-primary, #000);

    /* Heading/Desktop/H5 */
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;

    line-height: 140%;
    /* 33.6px */
  }

  .careers-row-3-right-content p {
    color: var(--Text-primary, #000);

    /* Text/Regular/Normal */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    width: 90%;
    /* 24px */
  }
}