.home-left-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}

.home-row-1 {
  width: 100%;
  height: 500px;
  background-color: black;
  display: flex;
  height: 630px;
  justify-content: center;
  align-items: center;
}

.home-row-1-text-box {
  width: 45%;
}

.home-row-1-heading {
  font-family: Roboto, sans-serif; /* Ensure fallback font */
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;

  background: linear-gradient(90deg, #16d6ad 0%, #5512d3 100%);
  background-clip: text;
  -webkit-background-clip: text; /* For Safari and older browsers */
  -webkit-text-fill-color: transparent; /* Makes gradient visible */
}

.rocket {
  height: 100%;
  margin-left: 2%;
}
.rocket2 {
  display: none;
}

.home-text {
  color: #fff;

  /* Text/Medium/Normal */
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
}

.home-lets-talk {
  display: flex;
  padding: 8px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background: linear-gradient(0deg, #16d6ad 0%, #16d6ad 100%);
  width: 120px;
  height: 40px;
  border: none;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
}

.home-row-2 {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  margin-top: 80px;
  margin-bottom: 80px;
}
.home-row-2-header {
  color: var(--Text-primary, #000);

  /* Text/Medium/Bold */
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 27px */
}
.home-row-2-worked-with {
  display: flex;
  padding-bottom: 48px;
  padding-top: 48px;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  color: #fff;
  align-items: center;
  gap: 24px;
}

.home-row-2-carousel-content {
  display: inline-block;
  animation: scroll 40s linear infinite;
  gap: 24px;
}
.home-row-2-carousel-content::before {
  content: "";
  display: repeat(auto-fill, 100px); /* Dynamically fill with duplicates */
}
.home-row-2-carousel-content img {
  display: inline-block;
  margin-left: 200px;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.zenbank {
  width: 174px;
  height: 51.504px;
}

.sofi {
  width: 174px;
  height: 51.504px;
}

.pfa {
  width: 144px;
  height: 42px;
}

.pearlx {
  width: 137px;
  height: 31px;
}
.ngrowth {
  width: 155px;
  height: 41.392px;
}
.moodys {
  width: 200px;
  height: 31.633px;
}

.mtbank {
  width: 174px;
  height: 31px;
}

.johntempleton {
  width: 196px;
  height: 78.792px;
}
.everbank {
  width: 200px;
  height: 31.633px;
}
.cleanitsupply {
  width: 200px;
  height: 31.633px;
}
.afmensa {
  width: 196px;
  height: 31px;
}
.bankofguam {
  width: 180.758px;
  height: 71.701px;
}
.bureauvandijk {
  width: 162px;
  height: 75.492px;
}
.webflow {
  width: 150px;
  height: 56px;
  margin-left: 30px;
  display: none;
}
.relume {
  width: 150px;
  height: 56px;
  margin-left: 30px;
  display: none;
}
.banner {
  width: 100%;
}

.home-row-3 {
  margin-top: 112px;
  margin-bottom: 112px;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.home-row-3-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.home-row-3-left {
  width: 50%;
}
.home-row-3-left-header {
  color: var(--Text-primary, #000);
  /* Heading/Desktop/H3 */
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 48px */
}

.home-row-3-left-text {
  color: var(--Text-primary, #000);
  /* Text/Medium/Normal */
  font-family: Roboto;
  font-size: 18px;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
}

.home-row-3-right {
  width: 50%;
}
.solutions {
  width: 653px;
  height: 534px;
}

.home-row-4 {
  display: flex;
  box-sizing: border-box;
  padding: 60px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-row-4-top {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-row-4-top-header {
  color: #000;
  text-align: center;

  /* Heading/Desktop/H2 */
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 57.6px */
}
.home-row-4-top-text {
  color: var(--Text-primary, #000);
  text-align: center;

  /* Text/Medium/Normal */
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
}

.home-row-4-bottom {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.home-row-4-images {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.consulting {
  width: 356px;
  height: 304px;
}

.tech-consulting {
  width: 336px;
  height: 306px;
}

.entrepreneur {
  width: 326px;
  height: 342px;
}

.home-row-4-image-headers {
  color: #4e18ca;
  text-align: center;
  /* Heading/Desktop/H4 */
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 41.6px */
}

.home-row-4-image-subheader {
  color: var(--Text-primary, #000);
  text-align: center;

  /* Text/Regular/Normal */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.lets-talk-button {
  display: flex;
  padding: 8px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 96px;
  height: 40px;
  border: none;
  border: 1px solid #000;
  color: #000;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  width: auto;
}

.home-row-5 {
  background: linear-gradient(90deg, #16d6ad -0.03%, #5512d3 100.03%);
  display: flex;
  width: 100%;
  padding: 112px 64px;
  flex-direction: column;
  align-items: flex-start;
  gap: 80px;
  box-sizing: border-box;
  justify-content: center;
}

.home-row-5-headers {
  display: flex;
  align-items: flex-start;
  gap: 80px;
  align-self: stretch;
  justify-content: center;
}
.home-row-5-header {
  color: var(--Text-alternate, #fff);
  /* Heading/Desktop/H3 */
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 48px */
  width: 40%;
}
.home-row-5-sub-header {
  color: var(--Text-alternate, #fff);

  width: 50%;
  /* Text/Medium/Normal */
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
}

.home-row-5-statistics {
  display: flex;
  align-items: flex-start;
  gap: 48px;
  align-self: stretch;
  justify-content: center;
}

.home-row-5-stat {
  width: 30%;
  border-left: 2px solid var(--Border-alternate, #fff);
}

.home-row-5-stat-header {
  color: var(--Text-alternate, #fff);
  font-family: Roboto;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 104px */
  margin-left: 32px;
}
.home-row-5-stat-sub-header {
  color: var(--Text-alternate, #fff);

  /* Heading/Desktop/H6 */
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 28px */
  margin-left: 32px;
}

.home-row-6 {
  display: flex;
  padding: 112px 64px;
  flex-direction: column;
  gap: 50px;
}
.home-row-6 :nth-child(3) {
  display: flex;
  justify-content: flex-end;
}
.fitzmier {
  width: 810px;
  height: 550px;
}

.mooney {
  width: 810px;
  height: 550px;
}
.home-row-6-header {
  color: var(--Text-primary, #000);
  text-align: center;

  /* Heading/Desktop/H2 */
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 57.6px */
}

.home-row-6-content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.home-row-6-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  height: 600px;
  position: relative;
}
.home-row-6-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 850px;
  height: 550px;
  position: relative;
}

.home-row-6-content div {
  display: flex;
}
.author {
  width: 202px;
  height: 201px;
  flex-shrink: 0;
}

/* .home-row-6-image {
  width: 139.999px;
  height: 56px;
} */
.left-qoutes {
  position: absolute;
  height: 40px;
  width: 50px;

  left: -80px;
  top: -20px;
}
.right-qoutes {
  position: absolute;
  height: 40px;
  width: 50px;

  right: -60px;
  bottom: 40px;
}
.home-row-6-statement {
  color: var(--Text-primary, #000);
  text-align: center;
  width: 55%;
  text-align: left;
  margin-top: 17%;
  position: relative;

  /* Heading/Desktop/H6 */
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 28px */
}

.home-row-6-author-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  bottom: 25px;
  right: 25px;
}

.home-row-6-author-container div {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}
.home-row-6-name {
  color: var(--Text-primary, #000);
  text-align: right;
  font-family: Roboto;
  font-size: 19px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%; /* 28.5px */
  margin-top: 0;
  margin-bottom: 0;
}

.home-row-6-title {
  color: var(--Text-primary, #000);
  text-align: right;
  font-family: Roboto;
  font-size: 15px;
  font-style: italic;
  font-weight: 300;
  line-height: 121%; /* 18.15px */
  font-style: normal;
  margin-top: 0;
  margin-bottom: 0;
}

.home-row-7 {
  display: flex;
  height: 932px;
  padding: 112px;
  align-items: center;
  gap: 80px;
  background: #000;
  position: relative;
  justify-content: center;
}

.home-row-7 button {
  background: #16d6ad;
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: var(--Text-primary, #000);
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}

.home-row-7-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

.home-row-7-header {
  color: var(--Border-alternate, #fff);
  text-align: center;

  /* Heading/Desktop/H2 */
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 57.6px */
}
.home-row-7-text {
  color: var(--Border-alternate, #fff);
  text-align: center;
  /* Text/Medium/Normal */
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
  width: 60%;
}

.amalgam-group {
  width: 954px;
  height: auto;
  position: absolute;
  bottom: -30%;
}

.divider {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  height: 300px;
}

.home-row-8 {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}
.business-consulting {
  margin-top: 40px;
}
.home-row-8-header {
  color: var(--Text-primary, #000);
  text-align: center;

  /* Heading/Desktop/H2 */
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 57.6px */
}

.home-row-8-content {
  display: flex;
  width: 100%;
  padding: 112px 64px;
  gap: 198px;
  justify-content: center;
}

.home-row-8-content div {
  display: flex;
  width: 364px;
  height: 312px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(180deg, #94e4d2 0%, #c6ebec 99.9%);
}

.home-row-8-content2 {
  display: flex;
  width: 100%;
  padding: 112px 64px;
  gap: 198px;
  justify-content: center;
}

.home-row-8-content2 div {
  display: flex;
  width: 364px;
  height: 312px;
  padding-top: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(180deg, #c7e8ec 0%, #c9dffe 99.9%);
}

.home-row-8-content3 {
  display: flex;
  width: 100%;
  padding: 112px 64px;
  gap: 198px;
  justify-content: center;
}

.home-row-8-content3 div {
  display: flex;
  width: 364px;
  height: 312px;
  padding-top: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(180deg, #cadeec 0%, #b4bde2 99.9%);
}

.home-row-8-content4 {
  display: flex;
  width: 100%;
  padding: 112px 64px;
  gap: 198px;
  justify-content: center;
}

.home-row-8-content4 div {
  display: flex;
  width: 364px;
  height: 312px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(180deg, #d9cbf4 0%, #c6bbde 80.9%);
}

.home-row-9 {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  margin-top: 140px;
}
.home-row-9-header {
  color: var(--Text-primary, #000);
  text-align: center;

  /* Heading/Desktop/H2 */
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 57.6px */
}

.home-row-9-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  align-self: stretch;
  justify-content: center;
  margin-top: 200px;
}

.home-row-9-content-header {
  color: var(--Text-primary, #000);
  text-align: center;

  /* Heading/Desktop/H4 */
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 41.6px */
  width: 80%;
}

.cube {
  width: 48px;
  height: 48px;
}

.home-row-9-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-row-10 {
  margin-top: 400px;
}

.home-row-11 {
  margin-top: 200px;
}

.home-row-12 {
  position: relative;
  margin-top: 60px;
  display: flex;
  padding: 90px 64px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  background: linear-gradient(90deg, #16d6ad 0%, #5512d3 100%);
}

.home-row-12-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
}

.home-row-12-header {
  color: #fff;
  text-align: center;

  /* Heading/Desktop/H2 */
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 57.6px */
}

.home-row-12-text {
  color: #fff;
  text-align: center;

  /* Text/Medium/Normal */
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
}
.home-lets-talk-bottom {
  width: 95px;
  height: 35px;
  border: none;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
  background-color: black;
}

.home-row-13 {
  display: flex;
  padding: 80px 64px;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  background: linear-gradient(90deg, #16d6ad 0%, #5512d3 100%);
}
.home-row-13-content {
  display: flex;
  align-items: center;
  gap: 32px;
  align-self: stretch;
}

.home-row-13-content-left {
  width: 30%;
}
.home-row-13-content-middle {
  display: flex;
  width: 30%;
  justify-content: space-between;
  flex-direction: row;
}
.home-row-13-links {
  color: #fff;

  /* Text/Regular/Semi Bold */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  flex-wrap: nowrap;
  text-decoration: none;
}

.home-row-13-content-right {
  width: 30%;
  gap: 12px;
  display: flex;
  justify-content: flex-end;
}

.logo {
  filter: brightness(0) invert(1);
}
.social-media {
  width: 24px;
  height: 24px;
}

.home-row-13-bottom {
  display: flex;
  padding-bottom: 16px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  align-self: stretch;
  border-top: 2px solid white;
}

.home-row-13-footer {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.home-row-13-footer-links {
  color: #fff;

  /* Text/Small/Link */
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.home-row-13-footer-links:nth-child(1) {
  color: #fff;

  /* Text/Small/Normal */
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  text-decoration-line: unset;
}
#writing {
  width: 392px;
  height: 308px;
  position: absolute;
  left: 5%;
  top: 15%;
}

@media (max-width: 1100px) {
  .home-row-13-content {
    justify-content: space-between;
  }
  .home-row-3-left {
    width: 40%;
  }

  .solutions {
    width: 419px;
    height: 335px;
  }

  .logo {
    width: 126px;
    height: 25;
  }
  .home-row-13-content-left {
    width: unset;
  }
  .home-row-13-content-right {
    width: unset;
    gap: 12px;
    display: flex;
    justify-content: flex-end;
  }

  .home-row-13-content-middle {
    display: flex;
    width: unset;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
    width: 45%;
  }
  .home-row-13-links {
    color: #fff;
    /* Text/Regular/Semi Bold */
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
    flex-wrap: nowrap;
  }
  .home-row-8-header {
    color: var(--Text-primary, #000);
    text-align: center;

    /* Heading/Desktop/H2 */
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 57.6px */
  }

  .home-row-8-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 78px;
    align-self: stretch;
    justify-content: center;
    margin-top: 60px;
  }

  .home-row-8-content-header {
    color: var(--Text-primary, #000);
    text-align: center;

    /* Heading/Desktop/H4 */
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 41.6px */
  }

  .cube {
    width: 48px;
    height: 48px;
  }

  .home-row-8-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .divider {
    padding: unset;
  }

  .amalgam-group {
    width: 763px;
    height: auto;
    position: absolute;
    bottom: -30%;
  }
  .home-row-7 {
    height: 600px;
    padding: 80px 34px;
  }
  .consulting {
    width: 276px;
    height: 228px;
  }

  .tech-consulting {
    width: 252px;
    height: 229px;
  }

  .entrepreneur {
    width: 244px;
    height: 256px;
    margin-left: 10px;
  }

  .home-text {
    font-size: 12px;
  }
  .home-lets-talk {
    width: 95px;
    height: 35px;
    border: none;
    color: #000;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 24px */
  }
  .home-row-4-image-headers {
    color: #4e18ca;
    text-align: center;
    /* Heading/Desktop/H4 */
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 41.6px */
  }

  .home-row-4-image-subheader {
    color: var(--Text-primary, #000);
    text-align: center;

    /* Text/Regular/Normal */
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
  }
}

@media (max-width: 768px) {
  .divider {
    height: 100px;
  }
  .consulting {
    width: 90%;
    height: 75%;
  }

  .tech-consulting {
    width: 90%;
    height: 75%;
  }

  .entrepreneur {
    width: 90%;
    height: 75%;
    margin-left: 10px;
  }
  .amalgam-group {
    width: 660px;
    height: auto;
    position: absolute;
    bottom: -30%;
  }
  .home-row-7 {
    height: 600px;
    padding: 20px 4px;
  }

  .home-row-7-header {
    width: 90%;
  }
  .home-row-7-text {
    width: 90%;
  }
  .solutions {
    width: auto;
    height: 300px;
  }
  .home-row-4-image-subheader {
    color: var(--Text-primary, #000);
    text-align: center;

    /* Text/Regular/Normal */
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
  }
}

@media (max-width: 576px) {
  .home-row-13-bottom {
    border-top: 2px solid black;
  }

  .home-row-13-footer {
    flex-direction: column;
    align-items: center;
  }
  .home-row-13-footer-links {
    color: black;
  }
  .home-row-13 {
    background: white;
  }
  .home-row-13-content {
    flex-direction: column;
  }
  .logo {
    filter: brightness(0) invert(0);
    width: 70%;
    align-self: center;
  }
  .home-row-13-links {
    font-size: 16px;
  }
  .home-row-13-content-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .home-row-13-content-middle {
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
  .home-row-13-links {
    color: black;
  }

  .home-row-13-content-right {
    width: 30%;
    gap: 12px;
    display: flex;
    justify-content: center;
  }
  .social-media {
    width: 24px;
    height: 24px;
    filter: brightness(0) invert(0);
  }
  .home-row-12 {
    display: flex;
    padding: unset;
    gap: 80px;
    background: white;
  }
  .home-row-12-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    align-self: stretch;
  }

  .home-row-12-header {
    color: black;
  }

  .home-row-12-text {
    color: black;
    width: 90%;
  }
  .home-lets-talk-bottom {
    width: 95px;
    height: 35px;
    border: none;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 24px */
    background-color: black;
  }
  .home-row-11 {
    margin-top: 100px;
  }
  .home-row-10 {
    margin-top: 50px;
  }
  .home-row-9 {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 80px;
  }
  .home-row-9-header {
    width: 90%;
  }
  .home-row-9-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    align-self: stretch;
    justify-content: center;
    margin-top: 60px;
  }
  .home-row-8 {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 40px;
  }
  .home-row-8-header {
    color: var(--Text-primary, #000);
    text-align: center;

    /* Heading/Desktop/H2 */
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 57.6px */
    width: 90%;
  }

  .home-row-8-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    align-self: stretch;
    justify-content: center;
    margin-top: unset;
  }
  .home-row-8-content2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    align-self: stretch;
    justify-content: center;
    margin-top: unset;
  }
  .home-row-8-content3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    align-self: stretch;
    justify-content: center;
    margin-top: unset;
  }
  .home-row-8-content4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    align-self: stretch;
    justify-content: center;
    margin-top: unset;
  }



  .home-row-8-content-header {
    color: var(--Text-primary, #000);
    text-align: center;

    /* Heading/Desktop/H4 */
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 41.6px */
  }

  .cube {
    width: 48px;
    height: 48px;
  }

  .home-row-8-content-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
  }
  .home-row-7 {
    display: flex;
    height: auto;
    width: 100%;
    padding: unset;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    background: white;
    position: relative;
    margin-top: 60px;
  }

  .home-row-7-header {
    color: var(--Border-alternate, black);
  }

  .home-row-7-text {
    color: var(--Border-alternate, black);
  }
  .amalgam-group {
    display: none;
  }
  .home-row-6 {
    display: flex;
    padding: 64px 20px;
    padding-bottom: unset;
    flex-direction: column;
    align-items: center;
    gap: 48px;
  }
  .home-row-6 :nth-child(3) {
    display: flex;
    justify-content: flex-end;
  }
  .fitzmier {
    width: 90%;
    height: auto;
  }

  .mooney {
    width: 90%;
    height: auto;
  }
  .home-row-6-header {
    font-size: 36px;
  }

  .home-row-6-webflow-container {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .home-row-6-left {
    width: 100%;
  }

  .home-row-6-image {
    width: 139.999px;
    height: 56px;
  }
  .home-row-6-webflow-header {
    width: 100%;
  }

  .home-row-6-name {
    color: var(--Text-primary, #000);
    text-align: center;

    /* Text/Regular/Semi Bold */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 1%; /* 24px */
  }

  .home-row-6-title {
    color: var(--Text-primary, #000);
    text-align: center;

    /* Text/Regular/Normal */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
  }
  .home-row-5 {
    display: flex;
    width: 375px;
    padding: 64px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
    background: black;
    width: 100%;
  }

  .home-row-5-headers {
    flex-direction: column;
    width: 100%;
  }
  .home-row-5-header {
    width: 100%;
  }
  .home-row-5-sub-header {
    width: 100%;
    text-align: left;
  }

  .home-row-5-statistics {
    flex-direction: column;
  }
  .home-row-5-stat {
    width: 30%;
    border-left: 2px solid var(--Border-alternate, #fff);
    display: flex;
    flex-direction: column;
  }

  .home-row-5-stat-header {
    color: var(--Text-alternate, #fff);
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 104px */
    margin-left: 32px;
  }
  .home-row-5-stat-sub-header {
    font-size: 18px;
  }
  .home-row-4 {
    display: flex;
    box-sizing: border-box;
    padding: unset;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
  }

  .home-row-4-top {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-row-4-top-header {
    color: #000;
    text-align: center;

    /* Heading/Desktop/H2 */
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 57.6px */
  }
  .home-row-4-top-text {
    color: var(--Text-primary, #000);
    text-align: center;

    /* Text/Medium/Normal */
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
  }

  .home-row-4-bottom {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: unset;
    align-items: center;
    gap: unset;
  }

  .home-row-4-image-headers {
    color: #4e18ca;
    text-align: center;
    /* Heading/Desktop/H4 */
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 41.6px */
  }
  .home-row-4-image-subheader {
    color: var(--Text-primary, #000);
    text-align: center;

    /* Text/Regular/Normal */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    width: 90%;
  }

  .home-row-4-image-box {
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 5px solid red;
  }

  .consulting {
    width: 356px;
    height: 304px;
  }

  .tech-consulting {
    width: 336px;
    height: 306px;
  }

  .entrepreneur {
    width: 326px;
    height: 342px;
    margin-left: 10px;
  }

  .lets-talk-button {
    display: flex;
    padding: 8px 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 96px;
    height: 40px;
    border: none;
    border: 1px solid #000;
    color: #000;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    width: auto;
  }

  .home-row-1 {
    background: rgba(0, 0, 0, 0.95);
    flex-direction: column;
    justify-content: flex-start;
    display: flex;
    padding: 64px 20px;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    height: fit-content;
  }

  .home-row-1 div {
    width: 335px;
  }
  .home-row-1-text-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .rocket {
    width: 90%;
  }

  .rocket2 {
    display: none;
  }

  .home-row-1-heading {
    font-family: Roboto, sans-serif; /* Ensure fallback font */
    font-size: 40px;
    text-align: center;
    color: white;

    background: white;
    -webkit-background-clip: text; /* For Safari and older browsers */
  }
  .home-text {
    color: var(--Text-alternate, #fff);
    text-align: center;

    /* Text/Regular/Normal */
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
  }

  .home-lets-talk {
    background: #000;
    color: #fff;
  }

  .home-row-2 {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: unset;
    margin-top: unset;
    margin-bottom: unset;
  }
  .home-row-2-header {
    font-size: 18px;
    font-style: normal;
    padding-left: 30px;
    padding-top: 40px;
  }
  .banner {
    display: none;
  }
  .home-row-2-worked-with {
    display: flex;
    padding-bottom: 48px;
    padding-top: 48px;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    color: #fff;
    align-items: center;
    height: 250px;
  }

  .webflow {
    width: 150px;
    height: 56px;
    margin-left: 30px;
    display: flex;
  }
  .relume {
    width: 150px;
    height: 56px;
    margin-left: 30px;
    display: flex;
  }

  .home-row-3 {
    margin-top: unset;
    margin-bottom: unset;
    height: 566px;
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    margin-bottom: 20px;
  }
  .home-row-3-container {
    padding-left: unset;
    padding-right: unset;
    flex-direction: column;
    align-items: flex-start;
    justify-content: unset;
    height: max-content;
    gap: 30px;
  }

  .home-row-3-left {
    width: 100%;
  }

  .home-row-3-left-header {
    color: var(--Text-primary, #000);
    /* Heading/Desktop/H3 */
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 48px */
  }

  .home-row-3-left-text {
    color: var(--Text-primary, #000);
    /* Text/Medium/Normal */
    font-family: Roboto;
    font-size: 18px;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
  }

  .home-row-3-right {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
  }
  .solutions {
    width: 100%;
    height: auto;
  }
#writing {
  width: 392px;
  height: 308px;
  position: absolute;
  left: 5%;
  top: 15%;
  display: none;
}
}
