.startups-row-1 {
  display: flex;
  padding: 112px 64px;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  background: #012a21;
  position: relative;
}

.blobert-rocket {
  position: absolute;
  width: 414px;
  height: 587px;
  top: 0;
  right: 0px;
}

.startups-row-1 div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

.startups-row-1 h1 {
  color: var(--Text-alternate, #fff);
  text-align: center;

  /* Heading/Desktop/H1 */
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  /* 67.2px */
  margin-top: 0;
  margin-bottom: 0;
}

.startups-row-1 p {
  color: var(--Text-alternate, #fff);
  text-align: center;

  /* Text/Medium/Normal */
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 27px */
}

.startups-row-1 button {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: black;
  color: white;
  border: none;
}

#startups-row-2 {
  background: #012a21;
  padding-top: 0;
}

#home-row-2-h1 {
  color: var(--Border-alternate, #fff);

  /* Heading/Desktop/H2 */
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  /* 57.6px */
}

.startups-row-2-testimonials-container {
  display: flex;
  height: 394px;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
}

.startups-row-2 h2 {
  color: var(--Border-alternate, #fff);

  /* Heading/Desktop/H2 */
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  /* 57.6px */
}

.startups-row-2-testimonials {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex: 1 0 0;
}

.startups-row-2-testimonials img {
  width: 20px;
  height: 18.889px;
}

.startups-row-2-testimonials p:nth-child(1) {
  color: var(--Border-alternate, #fff);

  /* Heading/Desktop/H6 */
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  /* 28px */
}

.startups-row-2-testimonials :nth-child(2) img {
  width: 56px;
  height: 56px;
}

.startups-row-2-testimonials :nth-child(3) {
  color: var(--Border-alternate, #fff);

  /* Text/Regular/Normal */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 24px */
}

.startups-row-3 {
  position: relative;
  display: flex;
  height: 1650px;
  padding: 112px 64px;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  background: #012A21;
}

.home-row-2-carousel-content {
  display: inline-block;

}

.home-row-2-carousel-content::before {
  content: "";
  display: repeat(auto-fill, 100px);
  /* Dynamically fill with duplicates */
}

.home-row-2-carousel-content img {
  display: inline-block;
  margin-left: 200px;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.startups-carousel {
  display: flex;
  box-sizing: border-box;
  height: 740px;
  align-items: flex-start;
  animation: scroll 40s linear infinite;
  gap: 24px;
}


@keyframes scroll {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.startups-carousel > :nth-child(2) >
:nth-child(4)>
:nth-child(6) {
  align-self: flex-end;
}

.startups-solidstar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1115px;
  height: 627px;
  background: url("../assets/images/carousel-2/WhiteStar.png") 50% / cover no-repeat;

}

.startups-solidstar p {
  color: var(--Text-primary, #000);
  text-align: center;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  width: 477px;
  height: 112px;
  margin-bottom: 100px;
  /* 30.8px */
}

.startups-hollowstar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1049px;
  height: 692px;
  background: url("../assets/images/carousel-2/HollowStar.png") 50% / cover no-repeat;

}

.startups-hollowstar p {
  width: 547px;
  height: 112px;
  margin-bottom: 50px;
  color: var(--Border-alternate, #FFF);
  text-align: center;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  /* 30.8px */
}

.startups-blobertmoon {
  position: absolute;
  bottom: 0px;
  width: 1147px;
  height: 681px;
}

.startups-row-3 h1 {
  color: var(--Border-alternate, #fff);
  text-align: center;

  /* Heading/Desktop/H1 */
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  /* 67.2px */
  margin-top: 0;
  margin-bottom: 0;
}

.startups-row-3-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}

.startups-row-3-content :nth-child(1) {
  display: flex;
}

.startups-row-3-content button {
  color: var(--Border-alternate, #fff);

  /* Text/Regular/Normal */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 24px */
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 8px 16px;
  gap: 8px;
}

.startups-row-3-row {
  display: flex;
  align-items: flex-start;
  gap: 48px;
}

.startups-row-3-content-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
}

.startups-row-3-content-card img {
  height: 300px;
  width: 100%;
}

.startups-row-3-content-card :nth-child(2) {
  color: var(--Border-alternate, #fff);

  /* Text/Small/Semi Bold */
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  /* 21px */
}

.startups-row-3-content-card :nth-child(3) {
  color: var(--Border-alternate, #fff);
  margin-top: 0;
  margin-bottom: 0;

  /* Heading/Desktop/H5 */
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  /* 33.6px */
}

.startups-row-3-content-card :nth-child(4) {
  color: var(--Border-alternate, #fff);

  /* Heading/Desktop/H5 */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 33.6px */
}

.startups-row-3-content-card-info {
  display: flex;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

.startups-row-3-content-card-info img {
  width: 48px;
  height: 48px;
}

.startups-row-4 {
  background: #012a21;
  display: flex;
  padding: 112px 64px;
  align-items: center;
  gap: 80px;
  justify-content: center;
}

.star-position {
  position: relative;
  box-sizing: border-box;
}

.star-location {
  position: absolute;
  width: 527px;
  height: 368px;
  right: -180px;
  bottom: 10px;
}


.greenstar {
  position: absolute;
  width: 527px;
  height: 368px;
  top: -180px;
  right: -100px;
}

.startups-row-4-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;
}

.startups-row-4-content h3 {
  color: var(--Border-alternate, #fff);

  /* Heading/Desktop/H3 */
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  /* 48px */
}

.startups-row-4-content article {
  color: var(--Border-alternate, #fff);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 27px */
}

.startups-row-4 img {
  width: 50%;
}

.startups-row-5 {
  display: flex;
  padding: 112px 64px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  background: #012a21;
  color: white;
}

.startups-row-5 h2 {
  color: var(--Text-alternate, #fff);
  margin-top: 0;
  margin-bottom: 0;
  /* Heading/Desktop/H2 */
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  /* 57.6px */
}

.startups-row-5 p {}

.startups-row-5 button {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: black;
  color: white;
  border: none;
}

.startups-button {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: black;
  border: none;
  color: white;
}

.startups-row-6 {
  display: flex;
  padding: 112px 64px;
  align-items: center;
  gap: 80px;
  background: #012a21;
  justify-content: center;
}

.startups-row-6-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;
  color: white;
}

.startups-row-6-content h3 {
  color: var(--Border-alternate, #fff);

  /* Heading/Desktop/H3 */
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  /* 48px */
  margin-top: 0;
  margin-bottom: 0;
}

.startups-row-6-content p {
  color: var(--Border-alternate, #fff);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 27px */
}

.startups-row-6 img {
  height: auto;
  width: 50%;
}

#addon-from-home-page {
  background-color: #012a21;
  box-sizing: border-box;
}

.startups-row-7 {
  display: flex;
  padding: 112px 64px;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}

.startups-row-7-content-card-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  align-self: stretch;
}

.startups-row-7-content-card-info img {
  width: 56px;
  height: 56px;
}

.startups-row-7-content-card-info div :nth-child(1) {
  color: var(--Border-primary, #000);
  text-align: center;

  /* Text/Regular/Semi Bold */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  /* 24px */
}

.startups-row-7-content-card-info div :nth-child(1) {
  color: var(--Border-primary, #000);
  text-align: center;

  /* Text/Regular/Semi Bold */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  /* 24px */
}

.startups-amalgam-footer-logo {
  width: 100px;
  filter: brightness(0) saturate(100%) invert(1);
  /* filter: brightness(0) saturate(100%) invert(1); */
}

@media (max-width: 560px) {
  .startups-amalgam-footer-logo {
    filter: brightness(0);
  }

  .blobert-rocket {
    display: none;
  }

  .home-row-6-header {
    font-size: 46px;
  }

  #startups-row-2 {
    padding-bottom: 60px;

  }

  .startups-row-3 {
    display: flex;
    padding: 64px 20px;
    flex-direction: column;
    align-items: center;
    gap: 48px;
  }

  .startups-row-3-row {
    flex-direction: column;
  }

  #startups-row-3-h1 {
    display: flex;
    padding: 64px 20px;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    width: 100%;
  }

  .startups-row-3 h1 {
    color: var(--Border-alternate, #fff);
    text-align: center;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin-top: 0;
    margin-bottom: 0;
  }

  .startups-row-3-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    width: 100%;
  }

  .startups-row-3-content-card img {
    height: auto;
    width: 100%;
  }

  .startups-row-3-content-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0;
    gap: 24px;
  }

  .startups-row-3-content-card-info :nth-child(1) {
    width: 48px;
    height: 48px;
  }

  #addon-from-home-page {
    box-sizing: border-box;
    padding-bottom: 60px;
  }

  .startups-row-6 {
    display: flex;
    padding: 64px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
    background: white;
  }

  .startups-row-6-content h3 {
    color: var(--Text-primary, #000);

    /* Heading/Mobile/H3 */
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 38.4px */
  }

  .startups-row-6-content p {
    color: var(--Text-primary, #000);

    /* Text/Medium/Normal */
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 27px */
  }

  .startups-row-6 img {
    width: 100%;
  }

  .startups-row-5 {
    display: flex;
    padding: 64px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
    background-color: white;
  }

  .startups-row-5 h2 {
    color: black;

    /* Heading/Mobile/H2 */
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 43.2px */
  }

  .startups-row-5 p {
    color: black;

    /* Text/Regular/Normal */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
  }

  .startups-row-7 {
    display: flex;
    padding: 64px 20px;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    background-color: white;
  }

  .startups-row-7 h5 {
    color: var(--Text-primary, #000);
    text-align: center;

    /* Heading/Mobile/H5 */
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    /* 28px */
  }

  .startups-row-3 {
    background-color: white;
    display: flex;
    padding: 64px 20px;
    flex-direction: column;
    align-items: center;
    gap: 48px;
  }

  .startups-row-3-content button {
    color: black;
  }

  #startups-row-3-h1 {
    color: black;
  }

  .startups-row-3-content-card :nth-child(2) {
    color: black;
  }

  .startups-row-3-article-info :nth-child(1) {
    text-wrap: nowrap;
    width: 100%;
    height: fit-content;
    padding-bottom: 10px;
  }

  .startups-row-3-article-info :nth-child(2) {
    color: var(--Text-primary, #000);

    /* Text/Small/Normal */
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 21px */
  }

  .startups-row-3-content-card :nth-child(3) {
    color: black;
  }

  .startups-row-3-content-card :nth-child(2) {
    color: black;
  }

  .startups-row-3-content-card :nth-child(3) {
    color: black;
  }

  .startups-row-3-content-card :nth-child(4) {
    color: black;
  }

  #startups-header {
    border: 2px solid black;
    width: 100%;
  }

  #startups-header button {
    font-size: 10px;
    text-wrap: nowrap;

  }

  .star-location {
    display: none;
  }
}