.blue-banner {
    position: relative;
    width: 800px;
    height: 529px;
    background: url('../../images/BlueBackground.png') no-repeat center/cover;
}

.blue-banner-bayan {
    position: absolute;
    width: 200px;
    height: 200px;
    right: 20px;
    bottom: -35px;
}

.blue-banner-right-quotes {
    position: absolute;
    width: 60px;
    height: 50px;
    bottom: 180px;
    right: 35px;
}

.blue-banner-left-quotes {
    position: absolute;
    width: 60px;
    height: 50px;
    left: 130px;
    top: 100px;
}

.blue-banner :nth-child(4) {
    position: relative;
    left: 200px;
    top: 140px;
    width: 465px;
    color: var(--Text-primary, #000);
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    /* 33.6px */
}

#mooney-p {
    width: 420px;
    top: 146px;
    font-size: 20px;
}

#mooney-right-quotes {
    position: absolute;
    width: 60px;
    height: 50px;
    bottom: 180px;
    right: 85px;
}

.mooney-banner-title {
    position: absolute;
    left: 290px;
    bottom: 80px;
    color: black;
}

.mooney-banner-title h6 {
    color: var(--Text-primary, #000);
    text-align: right;
    font-family: Roboto;
    font-size: 19px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%;
    /* 28.5px */
}


.mooney-banner-title p {
    color: var(--Text-primary, #000);
    text-align: right;
    font-family: Roboto;
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
    line-height: 121%;
    /* 18.15px */

}

.blue-banner-title {
    position: absolute;
    left: 380px;
    bottom: 80px;
    color: black;
}

.blue-banner-title h6 {
    color: var(--Text-primary, #000);
    text-align: right;
    font-family: Roboto;
    font-size: 19px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%;
    /* 28.5px */
}


.blue-banner-title p {
    color: var(--Text-primary, #000);
    text-align: right;
    font-family: Roboto;
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
    line-height: 121%;
    /* 18.15px */

}

@media (max-width: 560px) {
    .blue-banner {
        position: relative;
        width: 100%;
        height: 215px;
        background: url('../../images/BlueBackground.png') no-repeat center/cover;
    }
    #mooney-banner {
    }

    .blue-banner-bayan {
        position: absolute;
        width: 100px;
        height: 100px;
        right: 7%;
        bottom: -15%;
    }

    .blue-banner-right-quotes {
        position: absolute;
        width: 30px;
        height: 25px;
        bottom: 32%;
        right: 4%;
    }

    .blue-banner-left-quotes {
        position: absolute;
        width: 30px;
        height: 25px;
        left: 9%;
        top: 19%;
    }

    .blue-banner :nth-child(4) {
        position: relative;
        left: 22%;
        top: 19%;
        width: 65%;
        color: var(--Text-primary, #000);
        font-family: Roboto;
        font-size: 8.5px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%;
        /* 33.6px */
    }

    .blue-banner-title {
        position: absolute;
        left: 29%;
        bottom: 8%;
        color: black;
    }

    .blue-banner-title h6 {
        color: var(--Text-primary, #000);
        text-align: right;
        font-family: Roboto;
        font-size: 9px;
        font-style: normal;
        font-weight: 800;
        line-height: 150%;
        /* 28.5px */
        margin-bottom: 3px;
    }


    .blue-banner-title p {
        margin-bottom: 0;
        color: var(--Text-primary, #000);
        text-align: right;
        font-family: Roboto;
        font-size: 9px;
        font-style: italic;
        font-weight: 300;
        line-height: 121%;
        /* 18.15px */

    }

    #mooney-p {
        width: 250px;
        top: 45px;
        font-size: 10px;
    }

    #mooney-right-quotes {
        position: absolute;
        width: 30px;
        height: 25px;
        bottom: 80px;
        right: 35px;
    }

    .mooney-banner-title {
        position: absolute;
        left: 24%;
        bottom: 5px;
        color: black;
    }

    .mooney-banner-title h6 {
        color: var(--Text-primary, #000);
        text-align: right;
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 800;
        line-height: 150%;
        /* 28.5px */
    }


    .mooney-banner-title p {
        color: var(--Text-primary, #000);
        text-align: right;
        font-family: Roboto;
        font-size: 12px;
        font-style: italic;
        font-weight: 300;
        line-height: 121%;
        /* 18.15px */

    }
}